.button-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    border: 1px solid #9c9cad;
    border-radius: 10px;
    min-width: 280px;
    max-width: 800px;
}

.button-wrapper {
    min-width: 280px;
    width: 280px;
    min-height: 210px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.button-holder {
    margin: 5px;
    width: 60px;
    height: 60px;
}

.button-holder:hover {
    filter: brightness(150%);
}

.button-holder:active {
    filter: brightness(50%);
}

.spacer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

