.img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.display-box {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.desc-big-box {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
}

.desc-box {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.desc-name {
    width: 100%;
    height: 25px;
    text-align: center;
    background: #d3d3ed;
    border: 1px solid #9c9cad;
}
.desc-value {
    width: 100%;
    height: 25px;    
    background: white;
    text-align: center;
    border: 1px solid #9c9cad;
}

.img-wrap {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

.img-big-wrap {
    border: 1px solid #9c9cad;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}


@media screen and (max-width:600px) {
    .desc-big-box {
        margin-bottom: 60px;
    }
}
